* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
}

#map {
	height: 100vh;
}

.caption {
	background-color: aliceblue;
	padding: .3rem .5rem;
	border-radius: .3rem;
	color: darkslategrey;
	text-align: right;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#map {
	background-color: #333;
}